
$color-text: #2B292D;
$green: #009B4D;
$orange: #F1592B;
$blue: #0189D1;
$bg-header: #F3C6BD;

$breakpoint_desktop: 1200px;
$breakpoint_laptop: 1090px;
$breakpoint_tablet: 800px;
$breakpoint_mobile: 550px;
$breakpoint_mobile_md: 480px;
$breakpoint_mobile_ms: 360px;
$breakpoint_mobile_xs: 320px;

