.hire {
	padding: 106px 0 90px;

	&__info {
		max-width: 555px;
		margin: 0 auto 63px;
		text-align: center;

		&-title {
			@extend %title;
			margin-bottom: 20px;
		}

		&-text {
			@extend %text;
			margin-bottom: 28px;
		}

		&-button {
			@extend %button;
			width: 247px;
		}
	}

	&__slide {
		max-width: 750px;
		padding: 26px 25px;
		border: 1px solid #2b292d20;
		border-radius: 5px;
		margin: 0 auto;
		transition: 600ms all;
		margin-bottom: 20px;
		cursor: pointer;

		&-position {
			@extend %flex;
			justify-content: space-between;

			&-title {
				font-size: 22px;
				line-height: 28px;
				font-weight: 700;
			}

			&-text {
				font-size: 18px;
				line-height: 24px;
				mix-blend-mode: normal;
				opacity: 0.6;
			}

			&-hidden {
				font-size: 18px;
				line-height: 26px;
				padding: 10px;
				display: none;
			}

		}

		.jobs-arrow-rotate {
			transform: rotate(90deg);
			transition: 600ms all;
		}
		

	}

}