
@include laptop {
	.container {
		max-width: $breakpoint_tablet - 50;
	}

	.price {
		padding: 50px 0 79px;
		&__cards {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 20px;
		}
	}

}

@include tablet() {
	.container {
		max-width: $breakpoint_mobile - 50;
	}
}

@include mobile() {
	.container {
		max-width: $breakpoint_mobile_md - 50;
	}

}

@include mobile_md() {
	.container {
		max-width: $breakpoint_mobile_ms - 50;
	}

	.price {

		&__cards {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(4, 1fr);
		}
	}

}

@include mobile_ms() {
	.container {
		max-width: $breakpoint_mobile_xs - 10;
	}

	.price {

		&__info-buttons-button {
			margin-bottom: 12px;
		}
	}

}

@include mobile_xs() {
	.container {
		max-width: 290px;
	}

}
